{% block footer %}
<footer>
    <!-- Bootstrap -->
    <div class="container gx-0">
        <div class="row d-flex justify-content-center">
            <div class="col-3 d-flex align-items-center">
                <ul>
                    <li> <a href="#">Mention Legal</a> </li>
                    <li> <a href="#">Politique de Confidentialité</a> </li>
                    <li> <a href="#">Condition utilisateur</a> </li>
                </ul>
            </div>



            <div class="col-3 d-flex align-items-center">
                <ul>
                    <li> <a href="#">Contact</a> </li>
                    <li> <a href="#">Inscription</a> </li>
                    <li> <a href="#">Newsletter</a> </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3">
        Tous droit reservé © Agence Ryta | 2023
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}
