<div class="bt-container-card-1 col-8">
    <div class="bt-card-1 bt-bg-light-green">
        <img class="bt-img-right" src="https://placehold.co/500x500" />
        <div class="bt-div">
            <p class="bt-date">Auteur 01 01 2023</p>
            <h3 class="bt-h3">Titre article</h3>
            <p class="bt-description">
                Lorem ipsum dolor sit amer, consectetur adipiscing elit. Sel dapibus, orci at maximus consequat, nune tellus facilisis.
            </p>
        </div>
    </div>
    <div class="bt-card-1 bt-card-1-right bt-bg-orange">
        <img class="bt-img-left" src="https://placehold.co/500x500" />
        <div class="bt-div">
            <p class="bt-date">Auteur 01 01 2023</p>
            <h3 class="bt-h3">Titre article</h3>
            <p class="bt-description">
                Lorem ipsum dolor sit amer, consectetur adipiscing elit. Sel dapibus, orci at maximus consequat, nune tellus facilisis.
            </p>
        </div>
    </div>
    <div class="bt-card-1 bt-bg-red">
        <img class="bt-img-right" src="https://placehold.co/500x500" />
        <div class="bt-div">
            <p class="bt-date">Auteur 01 01 2023</p>
            <h3 class="bt-h3">Titre article</h3>
            <p class="bt-description">
                Lorem ipsum dolor sit amer, consectetur adipiscing elit. Sel dapibus, orci at maximus consequat, nune tellus facilisis.
            </p>
        </div>
    </div>
</div>

