<div class="row">
    <div class="col-4">
        {% embed '_includes/second_section_article_card.html.twig' %}
            {% block second_section_article_row1_left_style %}bt-bg-light-green{% endblock %}
        {% endembed %}
    </div>
    <div class="col-4">
        {% embed '_includes/second_section_article_card.html.twig' %}
        {% endembed %}
    </div>
</div>
<div class="row">
    <div class="col-4">
        {% embed '_includes/second_section_article_card.html.twig' %}
        {% endembed %}
    </div>
    <div class="col-4">
        {% embed '_includes/second_section_article_card.html.twig' %}
        {% endembed %}
    </div>
</div>
<div class="row">
    <div class="col-4">
        {% embed '_includes/second_section_article_card.html.twig' %}
        {% endembed %}
    </div>
    <div class="col-4">
        {% embed '_includes/second_section_article_card.html.twig' %}
        {% endembed %}
    </div>
</div>
