<a class="bt-second-section-article" href="{% block second_section_article_link %}{% endblock %}">
    <div class="bt-card {% block second_section_article_style %}{% endblock %}">
        <img src="{% block second_section_article_img %}https://placehold.co/240x330{% endblock %}" />
        <div>
            <h2>{% block second_section_article_title %}Invest in Valby's sparkling new construction{% endblock %}</h2>
        </div>
    </div>
</a>
