<div class="row">
    <div class="col-5">
        {% embed '_includes/second_section_article_card.html.twig' %}
            {% block second_section_article_style %}bt-bg-light-green{% endblock %}
            {% block second_section_article_img %}https://placehold.co/240x330{% endblock %}
        {% endembed %}
    </div>
    <div class="col-5">
        {% embed '_includes/second_section_article_card.html.twig' %}
            {% block second_section_article_img %}https://placehold.co/240x330{% endblock %}
        {% endembed %}
    </div>
</div>
<div class="row">
    <div class="col-5">
        {% embed '_includes/second_section_article_card.html.twig' %}
            {% block second_section_article_img %}https://placehold.co/240x330{% endblock %}
        {% endembed %}
    </div>
    <div class="col-5">
        {% embed '_includes/second_section_article_card.html.twig' %}
            {% block second_section_article_style %}bt-bg-orange{% endblock %}
            {% block second_section_article_img %}https://placehold.co/240x330{% endblock %}
        {% endembed %}
    </div>
</div>
<div class="row">
    <div class="col-5">
        {% embed '_includes/second_section_article_card.html.twig' %}
            {% block second_section_article_style %}bt-bg-red{% endblock %}
            {% block second_section_article_img %}https://placehold.co/240x330{% endblock %}
        {% endembed %}
    </div>
    <div class="col-5">
        {% embed '_includes/second_section_article_card.html.twig' %}
            {% block second_section_article_img %}https://placehold.co/240x330{% endblock %}
        {% endembed %}
    </div>
</div>
