<div class="row">
    <div class="col">
        {% embed '_includes/second_section_article_card.html.twig' %}
        {% endembed %}
    </div>
    <div class="col">
        {% embed '_includes/second_section_article_card.html.twig' %}
        {% endembed %}
    </div>
</div>
<div class="row">
    <div class="col">
        {% embed '_includes/second_section_article_card.html.twig' %}
        {% endembed %}
    </div>
    <div class="col">
        {% embed '_includes/second_section_article_card.html.twig' %}
        {% endembed %}
    </div>
</div>
<div class="row">
    <div class="col">
        {% embed '_includes/second_section_article_card.html.twig' %}
        {% endembed %}
    </div>
    <div class="col">
        {% embed '_includes/second_section_article_card.html.twig' %}
        {% endembed %}
    </div>
</div>
