<aside>
    <div class="bt-sticky-aside card rounded-4" style="width: 18rem;">
        <div class="card-header rounded-top-4">
            <h4>Articles les plus populaires</h4>
        </div>
        <ul class=" list-group-flush">
            <li class="list-group-item">Article 1</li>
        </ul>
            <div class="bt-sticky-aside-line"></div>
        <ul class=" list-group-flush">
            <li class="list-group-item">Article 2</li>
        </ul>
            <div class="bt-sticky-aside-line"></div>
        <ul class=" list-group-flush rounded-bottom-4">
            <li class="list-group-item">Article 3</li>
        </ul>
    </div>
</aside>
