#bt-newsletter-total-bar {
    background: linear-gradient(270deg, #002D2B 0%, #0A9A93 49.84%, #002D2B 100%);
    color: var(--bt-main-white);
    height: 16.875rem;
    font-family: var(--bt-main-font);
}

#bt-newsletter-total-bar a {
    text-decoration: none;
    color: var(--bt-main-white);
}

#bt-newsletter-left-bar    {
    background-color: var(--bt-main-white);
    height: 0.25rem;
    width: 35%;
    margin-top: 1.688rem;
    margin-right: 3.125rem;
}

#bt-newsletter-right-bar {
    background-color: var(--bt-main-white);
    height: 0.25rem;
    width: 35%;
    margin-top: 1.688rem;
    margin-left: 3.125rem;
}

#bt-newsletter-total-bar h1 {
    font-size: 55px;
}

#bt-newsletter-total-bar h2 {
    font-size: 40px;
}

#bt-newsletter-total-bar h3 {
    font-size: 60px;
}

@media screen and (max-width: 1000px)   {


    #bt-newsletter-left-bar    {
        background-color: var(--bt-main-white);
        height: 0.15rem;
        width: 35%;
    }

    #bt-newsletter-right-bar {
        background-color: var(--bt-main-white);
        height: 0.15rem;
        width: 35%;
    }

    #bt-newsletter-total-bar h1 {
        font-size: 40px;
    }

    #bt-newsletter-total-bar h2 {
        font-size: 20px;
    }

    #bt-newsletter-total-bar h3 {
        font-size: 45px;
    }
}
