{% extends 'layout.html.twig' %}
{# Custom title on the index #}
{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block content %}
    {# Include, custom content and style for Mosaic #}
    {# ressource : https://twig.symfony.com/doc/3.x/tags/embed.html #}
    {% embed '_includes/landing_page/bt-grid-articles.html.twig' %}
        {# Articles : custom title then custom img #}
        {# Article 1 : #}
        {% block mosaic_article_title_big_left %}
            Réalité Virtuelle Immersive
        {% endblock %}
        {% block mosaic_article_img_big_left %}
            /assets/images/barbara-zandoval-Dz5j0QKVUGY-unsplash.jpg
        {% endblock %}
        {# Article 2 : #}
        {% block mosaic_article_title_big_right %}
            Intelligence Artificielle : Évolution
        {% endblock %}
        {% block mosaic_article_img_big_right %}
            /assets/images/pexels-tara-winstead-8386434.jpg
        {% endblock %}
        {# Article 3 : #}
        {% block mosaic_article_title_small_left %}
            Robotique : L'avenir Travaillé
        {% endblock %}
        {% block mosaic_article_img_small_left %}
            /assets/images/eli-alvarez-cNqDk50X6TA-unsplash.jpg
        {% endblock %}
        {# Article 4 : #}
        {% block mosaic_article_title_small_mid %}
            La 5G Arrive Bientôt
        {% endblock %}
        {% block mosaic_article_img_small_mid %}
            /assets/images/ar-pUnhtLa27PY-unsplash.jpg
        {% endblock %}
        {# Article 5 : #}
        {% block mosaic_article_title_small_right %}
            Objets Connectés Quotidiens
        {% endblock %}
        {% block mosaic_article_img_small_right %}
           /assets/images/marvin-meyer-SYTO3xs06fU-unsplash.jpg
        {% endblock %}
        {# -- END OF -- Articles : custom title then custom img #}
    {% endembed %}
    {# --END OF -- {# Include, custom content and style for Mosaic #}


    <div class="container">
        <div class="row bt-first-section-article">
            <div class="col">
                {% include '_includes/landing_page/bt-first-section-articles.html.twig' %}
            </div>
            <div class="col-md-auto">
                {# Include, custom content and style for the first sticky aside on main page #}
                {% embed '_includes/bt-sticky-aside.html.twig' %}
                    {# sticky aside style customization #}
                    {% block sticky_aside_header_style %}
                        lighter
                    {% endblock %}
                    {% block sticky_aside_first_article_style %}
                        orange
                    {% endblock %}
                    {% block sticky_aside_second_article_style %}
                        orange
                    {% endblock %}
                    {% block sticky_aside_third_article_style %}
                        orange
                    {% endblock %}
                    {# --END OF -- sticky aside style customization #}
                    {# sticky aside article titles customization #}
                    {% block sticky_first_article_title %}
                        La robotique, fléau de demain ?
                    {% endblock %}
                    {% block sticky_second_article_title %}
                        J'aime les pommes et vous ? Faîtes le test
                    {% endblock %}
                    {% block sticky_third_article_title %}
                        Du gloubiboulga pour Rattata
                    {% endblock %}
                    {# --END OF -- sticky aside article titles customization #}
                {% endembed %}
                {# -- END OF --Include, custom content and style for the first sticky aside on main page #}
            </div>
        </div>
    </div>
    {% include '_includes/landing_page/bt-bar-newsletter.html.twig' %}
    <div class="container">
        <div class="row bt-second-section-article">
            <div class="col">
                {# Include for second section of articles, cutom content and style in this file : bt-second-section-articles.html.twig #}
                {% include '_includes/landing_page/bt-second-section-articles.html.twig' %}
            </div>
            <div class="col-md-auto">
                {# Include, custom content and style for the second aside sticky on main page #}
                {% embed '_includes/bt-sticky-aside.html.twig' %}
                    {# sticky aside style customization #}
                    {% block sticky_aside_header_style %}
                        lighter
                    {% endblock %}
                    {% block sticky_aside_first_article_style %}
                        orange
                    {% endblock %}
                    {% block sticky_aside_second_article_style %}
                        orange
                    {% endblock %}
                    {% block sticky_aside_third_article_style %}
                        orange
                    {% endblock %}
                    {# -- END OF -- sticky aside style customization #}
                    {# sticky aside article titles customization #}
                    {% block sticky_first_article_title %}
                        Article 1
                    {% endblock %}
                    {% block sticky_second_article_title %}
                        Article 2
                    {% endblock %}
                    {% block sticky_third_article_title %}
                        Article 3
                    {% endblock %}
                    {# --END OF -- sticky aside article titles customization #}
                {% endembed %}
                {# -- END OF -- Include, custom content and style for the second aside sticky on main page #}
            </div>
        </div>
    </div>
{% endblock %}
