#bt-Article-Prev-Next-bar {
    font-size: 15px;
    background-color: var(--bt-bg-card-light-green);
}

#bt-Article-Prev-Next-bar a {
    text-decoration: none;
    color: var(--bt-main-bg);
}

#bt-Article-Prev-Next-bar img{
    width: 150px;
    height: 100px;
}

#bt-Article-Next-Article a  {
    text-align: right;
}

@media screen and (max-width: 780px){
    #bt-Article-Prev-Next-bar {
        text-align: center;
    }

    #bt-Article-Next-Article a{
        flex-direction: column-reverse;
        text-align: center;
    }
}
