textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    margin-left: 20px;
}
button {
    margin-left: 20px;
    background:linear-gradient(90deg, #163E3D 1.42%, #0A9A93 50.39%, #163E3D 100%);
}
.back-link{
    margin-left: 15px;
    padding: 10px;
}
