<div class="bt-comments">
    <div class="bt-separation-bar-comments"></div>
    <div class="bt-total-comment-section">
        <h2 class="bt-title-commentaires pt-5">Commentaires</h2>
        <div class="bt-bar-comments"></div>
    </div>

    {% for comment in showComments %}
        <div class="bt-single-comment pt-3 pb-5">
            <div class="bt-name-creation-date">
                <h3>{{ comment.user_name }}</h3>
                <p> le {{ comment.comment_created_at|date("d/m/Y") }}</p>
            </div>
            <div class="bt-comment-content">{{ comment.content_comment }}</div>
        </div>
    {% endfor %}
    {% if showComments is empty %}
        <p class="p-5 mx-auto">Ancun commentaire</p>
    {% endif %}
    <div class="bt-separation-bar-comments"></div>
</div>

<div class="bt-comment-area pt-5">
    <form method="post">
        <div class="row bt-comment-form">
            <label class="bt-comment-form-title" for="comment">Ton commentaire :</label>
            <textarea class="bt-form-input" type="test" name="comment" id="comment" rows="5" placeholder="Donne ton avis" required></textarea>
        </div>
        <div class="d-flex justify-content-center mt-3 mb-5">
            <button class="bt-button bt-button-green btn btn-primary" type="submit" name="SendComment">Publier</button>
        </div>
    </form>
</div>
