<div class="article-head text-center pt-5">
    <h2 class="mb-5">Titre de l'article</h2>
    <div class="d-inline-flex mb-5">
        <p class="mb-0 pe-4">Jean le Grand BOKASSA</p>
        <p class="mb-0">20 04 2023</p>
    </div>
    <div class="bt-article-head-line mb-5"></div>
    <p class="bt-description pb-5">Lorem ipsum dolor sit amer, consectetur adipiscing elit. Sel dapibus, orci at maximus consequat, nune tellus facilisis.</p>
</div>
