<div class="bt-comments">

    <div class="bt-seperation-bar-comments"></div>

    <div class="bt-total-comment-section">
        <p class="bt-title-commentaires">COMMENTAIRES</p>
    </div>

    {% for comment in showComments %}
        <div class="bt-single-comment">
            <div class="bt-name-creation-date">
                <h1>{{ comment.user_name }}</h1><p>{{ comment.comment_created_at }}</p>
            </div>
            <div class="bt-comment-content">{{ comment.content_comment }}</div>
        </div>
    {% endfor %}

</div>

<div class="bt-comment-area">
    <form method="post">
        <div id="bt-comment-form-title"><label for="comment">Donner votre avis</label></div> <br>
        <textarea name="comment" id="comment" cols="60" rows="15">Votre message</textarea>
        <button type="submit" name="SendComment">Envoyer</button>
    </form>
</div>
