<<<<<<< HEAD
{# TODO : manage errors display #}

<form method="post">
    <label for="article">
<textarea name="textarea"
          rows="10" cols="50"
          placeholder="Vous pouvez écrire ici"></textarea>
    </label><br><br>

    <button class="btn btn-primary" type="submit">Edit</button>

</form>
