
<div class="d-md-flex justify-content-md-end pt-4 px-4">
    <a href="#" class="bt-button bt-button-green btn btn-primary">Annuler</a><br>
</div >

<div class="d-md-flex justify-content-md-end pt-4 px-4 ">
    <a href="/article/show?id={{ article.id_article }}"class="bt-button bt-button-green btn btn-primary ">Retour</a>
</div>
<div class="d-flex justify-content-md-center">
    <form method="POST" class="bt-container-form row g-4">
        <div class="col-md-6">
            <input type="text" class="bt-form-input form-control" id="title" name="title" placeholder="Titre de l'article" value="{{article.title }}">
        </div>
        <div class="d-grid col-md-6 mx-auto">
            <a href="#" class="bt-button bt-button-red btn btn-primary">{% block button_picture1 %}Téléchargement image principale{% endblock %}</a>
        </div>
        <div class="col-md-6">
            <input type="text" class="bt-form-input form-control" id="description" name="description" placeholder="Description (50 mots maximum)" value="{{ article.description_article }}">
        </div>
        <div class="col-md-3">
            <a href="#" class="bt-button bt-button-orange btn btn-primary">{% block button_picture2 %}Téléchargement image 2{% endblock %}</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="bt-button bt-button-orange btn btn-primary">{% block button_picture3 %}Téléchargement image 3{% endblock %}</a>
        </div>
        <div class="col-12">
            <textarea type="text" class="bt-form-input form-control" id="content" name="content" placeholder="Contenu de l'article (1000 mots maximum)"  rows="10" >"{{ article.body_article }}"</textarea>
        </div>

        <div class="d-md-flex justify-content-md-center pb-5">
            <button type="submit" class="bt-button bt-button-green btn btn-primary">{% block button_submit %}Modifier{% endblock %}</button>
        </div>
    </form>
</div>
