{{ dump(comment) }}

<form method="post">
    <label for="content_comment"></label>
    <textarea name="content_comment" id="content_comment" cols="30" rows="10">{{ comment.content_comment }}</textarea>

    <button>Edit</button>
</form>
