<div class="container-fluid d-flex justify-content-center align-items-center" id="bt-newsletter-total-bar">

    <div class="row">

        <div class="col d-flex justify-content-center">

            <div class="w-35 h-" id="bt-newsletter-left-bar"></div>

                <div>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" id="bt-login-close" href="#exampleModal"><h1>NEWSLETTER</h1></a>
                </div>

            <div id="bt-newsletter-right-bar"></div>

        </div>

        <div class="col-12 p-2 d-flex justify-content-center">
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" id="bt-login-close" href="#exampleModal"><h2>Tu veux etre le premier informé?</h2></a>
        </div>

        <div class="col-12 p-2 d-flex justify-content-center">
            <h3><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" id="bt-login-close" href="#exampleModal">RENTRE DANS LE CIRCUIT!</a></h3>
        </div>

    </div>

</div>
