.bt-card {
    transition: transform .2s ease;
}

.bt-card:hover {
    transform: scale(1.1);
}

.bt-card-section1 {
    display: flex;
    margin-left: 4rem;
    margin-bottom: var(--bt-article-spacing-horizon);
    padding: 2rem 1.8rem 2rem 1.2rem;
    border-radius: var(--bt-main-border-radius);
    color: var(--bt-main-white);
}

.bt-bg-light-green{
    background: var(--bt-bg-card-light_green);
}

.bt-bg-orange{
    background: var(--bt-bg-cards-orange);
}

.bt-bg-red{
    background: var(--bt-bg-card-red);
}

.bt-card-section1-right{
    flex-direction: row-reverse;
}

.bt-card-section1 .bt-img-right{
    max-width: 18rem;
    width: 28vw;
    height: 12rem;
    object-fit: cover;
    margin-left: -4rem;
    margin-right: 2rem;
    border-radius: var(--bt-main-border-radius);
    box-shadow: var(--bt-main_box_shadow)
}

.bt-card-section1 .bt-img-left{
    max-width: 18rem;
    width: 28vw;
    height: 12rem;
    object-fit: cover;
    margin-left: 2rem;
    margin-right: -4rem;
    border-radius: var(--bt-main-border-radius);
    box-shadow: var(--bt-main_box_shadow)
}

.bt-card-section1 .bt-h3 {
    font-family: var(--bt-main-font);
    margin-bottom: 1.5rem;
}

.bt-card-section1 h2 {
    display: none;
}

.bt-card-section1 .bt-description {
    font-family: var(--bt-article-text-font);
    margin-bottom: 1.5rem;
    font-style: italic;
}

.bt-card-section1 .bt-date {
    font-family: var(--bt-main-font);
    margin-bottom: 1.5rem;
}

@media (width <= 740px) {
    .bt-card-section1 {
        margin-top: 5rem;
        width: 100%;
        flex-direction: column;
    }

    .bt-card-section1 .bt-img-right {
        margin: -5rem 0 0.5rem 0;
        width: 100%;
    }

    .bt-card-section1 .bt-img-left {
        margin: -5rem 0 0.5rem 0;
        width: 100%;
    }
}

/*
Second section of articles
 */

.bt-section-article {
    text-decoration: none;
}

.bt-card-section2 {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 40vh;
    max-width: 650px;
    padding: 50px 20px 50px 20px;
    border-radius: 24px;
    margin: 7vh 0;
    text-align: center;
    flex-direction: column;
    transition: transform .2s ease ;
}

.bt-card-section2:hover {
    transform: scale(1.1);
}

.bt-card-section2 img {
    height: 240px;
    object-fit: cover;
    border-radius: inherit;
    box-shadow: var(--bt-main_box_shadow)/*10px 60px 40px rgb(0 0 0 / 30%)*/;
    margin: -100px 0 10px 0;
    width: 330px;
    max-width: 1000px;
}

.bt-card-section2 h2 {
    margin-right: 0;
    font-size: 1.5rem;
    color: var(--bt-main-white);
}

.bt-card-section2 h3 {
    display: none;
}

.bt-card-section2 p {
    display: none;
}

.bt-card-section2 button {
    display: none;
}
