.bt-button {
    border-radius: var(--bt-main-border-radius);
    background: var(--bt-main-bg-color);
    box-shadow: var(--bt-main-box-shadow);
    border-radius: var(--bt-main-border-radius);
}

.bt-button:hover {
    background : var(--bt-bg-card-light-green);
}
