.bt-button {
    border-radius: var(--bt-main-border-radius);
    background: var(--bt-main-bg-color);
    box-shadow: var(--bt-main-box-shadow);
}

.bt-button:hover {
    background : var(--bt-bg-card-light-green);
}

#bt-button-edit-article {
    color: #fdfff5;
    padding: 5px;
    margin-top: 5px;
}

#bt-button-delete-article   {
    color: var(--bt-main-white);
    background-color: var(--bt-bg-card-red);
    padding: 5px;
    margin-top: 5px;
}
