.bt-comments {
    display: flex;
    flex-direction: column;
}

.bt-separation-bar-comments {
    width: 80%;
    height: 1px;
    background: black;
    margin: auto;
}

.bt-total-comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bt-title-commentaires {
    border-bottom: solid 1px black;
}

.bt-single-comment {
    width: 80%;
    margin: auto;
}

.bt-name-creation-date {
    display: flex;
    align-items: baseline;
}

.bt-name-creation-date h3 {
    border-bottom: solid 1px black;
    margin-right: 1rem;
}

.bt-comment-content {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

.bt-comment-area {
    width: 80%;
    margin: auto;
}

.bt-comment-form {
    width: 60%;
    margin: auto;
}


