.bt-profile {
    width: 60%;
}

.bt-profile {
    font-family: var(--bt-main-font);
}

.bt-table {
    padding: 2rem;
    background: var(--bt-bg-card-red);
    border-radius: var(--bt-main-border-radius);
    color: var(--bt-main-white);
    box-shadow: var(--bt-main-box-shadow);
}

.bt-table td {
    border-color: var(--bt-bg-card-darkred)
}

.bt-date {
    border-style: none;
}

#bt-articles-by-id {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bt-article-by-id {
    margin: 40px 60px;
    transition: none;
}

#bt-article-by-id:hover {
    transform: none;
    transition: none;
}

#bt-article-by-id .bt-card:hover {
    transform: none;
}
