.bt-second-section-article {
    text-decoration: none;
}

.bt-card {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 40vh;
    max-width: 650px;
    padding: 50px 20px 50px 20px;
    border-radius: 24px;
    margin: 7vh 0;
    text-align: center;
    flex-direction: column;
    transition: transform .2s ease ;
}

.bt-card:hover {
    transform: scale(1.1);
}

.bt-card img {
    height: 240px;
    object-fit: cover;
    border-radius: inherit;
    box-shadow: 10px 60px 40px rgb(0 0 0 / 30%);
    margin: -100px 0 10px 0;
    width: 330px;
    max-width: 1000px;
}

.bt-card h2 {
    margin-right: 0;
    font-size: 1.5rem;
    color: var(--bt-main-white);
}

.bt-card h3 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(0 0 0 / 90%);
}

.bt-card p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(0 0 0 / 70%);
    margin-bottom: 24px;
}

.bt-card button {
    border: 0;
    background: linear-gradient(90deg, #5448de, #5448de);
    color: #f8f8f8;
    font-family: inherit;
    padding: 16px 26px;
    font-size: 16px;
    border-radius: 40px;
}

