aside {
    position: -webkit-sticky;
    position: sticky;
    top: 3vh;
}

.bt-sticky-aside ul{
    height: auto;
    background: red;
}

.bt-sticky-aside .card-header {
    margin: auto;
    color: white;
    background: darkred;
    text-align: center;

}

.bt-sticky-aside .rounded-top {

}

.bt-sticky-aside ul {
    margin: 0;
}

.bt-sticky-aside li {
    margin: calc(60%/3) 0;
    color: white;
}

.bt-sticky-aside-line {
    height: 1px;
    background-color: white;
    width: 90%;
    margin: 0 auto;
}

