aside {
    position: -webkit-sticky;
    position: sticky;
    top: 3vh;

}

.bt-sticky-aside {
    border: none;
    position: relative;
}

.bt-sticky-aside a{
    height: auto;
    text-decoration: none;
}

.bt-sticky-aside .card-header {
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}

.bt-sticky-aside ul {
    margin: 0;
}

.bt-sticky-aside li {
    margin: calc(60%/3) 0;
    color: white;
}

.bt-sticky-aside-line {
    position: absolute;
    height: 10px;
    background-color: white;
    width: 20px;
    margin: 0 auto;
}

